/*
    Main panel customisation
*/
div.css-ffhzg2{
    background-color: black;
    color: white;
}
/*
    Sidebar customisation
*/
div.css-6qob1r{
    background-color: #011124;
    border: 1px solid white;
    padding: 2% 10% 5% 10%;
}